@using SocialApp.Client.Components.Comment
@inherits LoadingComponent;

<div class="post-container" @onfocusout="CloseMenu">
    <div class="post-row">
        <div class="user-profile">
            <img
                src="@ImageService.GetImageUrl(Post.ProfileInfo.UserId, Post.ProfileInfo.ProfilePicture)"
                alt="userPhoto"
                class="sidebar__image"
                onerror="this.onerror=null;this.src='images/photo.jpg'">
            <div>
                <p>@Post.ProfileInfo.FirstName @Post.ProfileInfo.LastName</p>
                <span>@Post.CreatedAt</span>
            </div>
        </div>
        <div class="menu-container">
            <button @onclick="ToggleMenu" class="menu-button">
                <img src="images/dots-vertical-rounded-regular-24.png" alt="">
            </button>

            @if (_isMenuOpen)
            {
                <div class="menu-dropdown">
                    <button @onclick="DeletePost" class="menu-item">Delete post</button>
                </div>
            }
        </div>
    </div>

    <p class="post-text">@((MarkupString)Post.Content.ReplaceLineEndings("<br>"))</p>

    <div class="post-row">
        <div class="activity-icons">
            <button @onclick="HandleLike" class="@(_haveLike ? "liked" : string.Empty)">
                <img src="images/like-regular-24.png" alt="">@_likesCount
            </button>
            <button @onclick="async () => await ToggleShowComments()" class="comments-icon">
                <img src="images/comment-regular-24.png" alt="">@_commentsCount
            </button>
        </div>
    </div>

    @if (_showComments)
    {
        <CommentsComponent PostId="Post.Id" Comments="_comments"/>
    }
</div>